# Entorno virtual
venv/

# Base de datos
db.sqlite3

# Archivos compilados de Python
__pycache__/
*.pyc

# Archivos del Editor/IDE (PyCharm, VSCode)
.idea/
.vscode/

# Archivos multimedia generados
media/